<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
    <div id="app">
        <div class="a">
            <div class="b">
                <div class="c">
                    <input v-model="search" placeholder="edit me">
                </div>
            </div>
            <div class="d">
                <span>Your input was: </span>
                <span class="c">{{ search }}</span>
            </div>
        </div>
        <p>
            <!-- use router-link component for navigation. -->
            <!-- specify the link by passing the `to` prop. -->
            <!-- <router-link> will be rendered as an `<a>` tag by default -->
            <router-link to="/user/foo?q1=v1">Go to Foo</router-link>
            <router-link to="/user/bar?q2=v2">Go to Bar</router-link>
        </p>
        <!-- route outlet -->
        <!-- component matched by the route will render here -->
        <router-view></router-view>
    </div>

    <script>
        const User = {
            template: 
                '<div>User {{ $route.params.id }} x={{x}}, x^2={{x2}}<br/>' +
                '<input v-model="input" placeholder="edit me">' +
                '<p>Message is: {{ input }}</p></div>',
            data: function() {
                return {                
                    x: "4",
                    x2: "16",
                    input: ""
                }
            }
        }

        const router = new VueRouter({
            routes: [
                { path: '/user/:id', component: User }
            ]
        })
        
        var app = new Vue({
            router,
            data: {
                search: ''
            }
        }).$mount("#app");
    </script>
</body>
</html>
