.base-element {
    position: relative;
    border-style: dashed;
    border-width: 2px;
}

.fills-base-element {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-style: dashed;
    border-width: 2px;
}

.first {
    border-color: red;
}

.second {
    border-color: green;
}

.parenthood-chain-indicator {
    margin-bottom: 10px; 
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr)
}

.parenthood-chain-entry {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightskyblue;
    text-align: center;
    height: 36px;
}

.parenthood-chain-entry.empty {
    visibility: hidden;
}

.vertical-center {
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
}


.snapshot-view {
    overflow: auto;
    
    max-width: 1400px;
    max-height: 800px;
    position: relative;
    left: 0px;
}

.snapshot-header {
    background-color: #c7d8c6;
}

/* #cccbc6; */

.snapshot-header>.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}


#greet {
    grid-area: greet;
}

.sigin-widget {
    grid-area: signin;
}


#note {
    grid-area: note;
}

#note.everything-ok {
    visibility: hidden;
}

#note.error {
    background-color: lightcoral;
}

#note.notification {
    background-color: lightgoldenrodyellow;
}

.dismiss-widget>svg {
    vertical-align: middle;
}
.dismiss-widget {
    border-width: 0;
}

.dismiss-widget.hover {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#header {
    background-color: #A9B7C0;
    grid-area: header;
    display: grid;
    grid-template-columns: 200px 200px 1200px;
    grid-template-areas: "greet signin note ...";
}

#side {
    background-color: #EFD9C1;
    grid-area: side;
}

#endside {
    background-color: #EFD9C1;
    grid-area: endside;
}


/* Pallete ref: https://www.canva.com/learn/website-color-schemes "32. Modern and Muted" */

#snapshot_wrapper {
    background-color: #EFD9C1;
    grid-area: main;
    display: grid;
    grid-template-columns: 1048px 1048px;
    grid-gap: 48px;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 50px auto 20px;
    grid-template-areas: 
        "header header header"
        "side main endside"
        "side main endside";
}
